.content{
    width: 70%;
    /* height: 100vh; */
    margin: auto;
}
header{
    background-color: #e579e6;
    min-height: 10vh;
}
.container{
    min-height: 30vh;
}




/* blue container */
.top-block{
    height: 5vh;
}

.clearfix{
    min-height: 0;
}

.clearfix::after{
    content: "";
    clear: both;
    display: table;
    margin-bottom: 2%;
}
/* blue container */





/* float blocks styling */
.float-blocks{
    height: 30vh;
    width: 20%;
    margin: 2.5% 2.5%;
}
.float-left{
    float: left;
    margin-left: 0;  
}
.float-right{
    float: right; 
    margin-right: 0; 
}
.center{
    width: 55%;
    margin: 2.5% 0;
}
/* float blocks styling */






/* backgrounds colors */
.bg-yellow{
    background-color:  #e1d67a;
}
.bg-blue{
    background-color: #0087fa;
}
.bg-transparent{
    background-color: rgba(250, 250, 250,0.5);
}
/* backgrounds colors */




footer{
    min-height: 5vh;
    background-color: #8801fe;
}



/* debug section: add a class="debug" to body to work */
.debug .content{
    border: 2px dotted rebeccapurple;
}
.debug .solve{
    border: 2px dotted rebeccapurple;
}
/* debug section */





/* reusable styles */
.margin-bottom{
    margin-bottom: 5vh;
}